<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
    <script defer data-domain="bernoulli-speedlify.carlosbronze.com.br" src="https://plausible.io/js/script.js"></script>
    <script>
    (function(apiKey){
        (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
        v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
            o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
            y=e.createElement(n);y.async=!0;y.src='https://cdn.eu.pendo.io/agent/static/'+apiKey+'/pendo.js';
            z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

            // This function creates visitors and accounts in Pendo
            // You will need to replace <visitor-id-goes-here> and <account-id-goes-here> with values you use in your app
            // Please use Strings, Numbers, or Bools for value types.
            pendo.initialize({
                visitor: {
                    // id:              <visitor-id-goes-here> // Required if user is logged in
                    // email:        // Recommended if using Pendo Feedback, or NPS Email
                    // full_name:    // Recommended if using Pendo Feedback
                    // role:         // Optional

                    // You can add any additional visitor level key-values here,
                    // as long as it's not one of the above reserved names.
                },

                account: {
                    //id:              <account-id-goes-here> // Highly recommended, required if using Pendo Feedback
                    // name:         // Optional
                    // is_paying:    // Recommended if using Pendo Feedback
                    // monthly_value:// Recommended if using Pendo Feedback
                    // planLevel:    // Optional
                    // planPrice:    // Optional
                    // creationDate: // Optional

                    // You can add any additional account level key-values here,
                    // as long as it's not one of the above reserved names.
                }
            });
    })('{ process.env.PENDO_KEY }');
    </script>




	</head>
	<body>
		<header>
			<h1 class="speedlify-hed"><a href="{{ '/' | url }}">speedlify</a>{% if vertical %}:{{ vertical }}{% endif %}</h1>
			{# <p class="speedlify-subhed">
				Benchmark {{ sites[vertical].description or "web pages" }} over time.
				{%- if sites[vertical].unordered %}
					Results for this category are unordered.
				{%- endif %}
				{%- if maxResults %}
					Updates <em>at most</em> once every {{ sites[vertical].options.frequency or 60 }} minutes. Only the last {{ maxResults }} run{% if maxResults != 1 %}s{% endif %} (and the oldest run) are shown.
				{%- endif %}
				Created by <a href="https://www.zachleat.com/">@zachleat</a>.
			</p> #}
			{# <p class="speedlify-subhed">
				<a href="https://github.com/zachleat/speedlify/#deploy-to-netlify">Deploy your own instance of Speedlify and test your web sites</a>.
			</p> #}
		</header>

		<main>
			{{ content | safe }}
		</main>

		<footer>
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>